$primary: #aa072a; //color principal de la pagina
//colores de letras del texto
$font-light: white; //blanco absoluto
$font-grey: rgb(148, 147, 148);
$font-dark: black; //color de letra
$font-secundary: rgb(20, 19, 19);
//colores de los bordes del diseño
$border-light: rgb(255, 255, 255);
$border-grey-light: rgb(190, 190, 190);
$border-grey: rgb(116, 116, 116);
//colores del fondo del los items
$background-light: #fff;
$background-grey-light: rgb(233, 230, 230);
$background-grey: rgb(112, 112, 112);
$background-grey-dark: #363636;
$background-dark: rgb(13, 14, 13);
$background-dark-absolute: black;
//colores de succes o continuar
$succes: #82d10c;

//colores del form del login
$background-pink: #f9cfdf;
$background-pink-light: #ffe1ec;
$background-button-purple: #cd5e89;

//colores dek contorno del borde
$border-pink-light: #e7a3c5;
