.change-name-form {
  margin: 0px 10px 10px 10px;
  padding: 20px 15px;
  border: 2px solid $border-pink-light;
  border-radius: 10px;
  > h4 {
    color: $primary;
    font-size: 18px;
    text-align: center;
  }
  > form {
    text-align: center;

    .submit {
      padding: 12px 60px;
      background-color: $background-button-purple;
    }

    input {
      background: white;
    }
  }
}
