.top-bar {
  height: 60px !important;
  background-color: $background-pink-light;
  color: white;
  .ui.grid {
    //Acceder a html
    margin: 0;
    padding: 0;
    .column {
      padding: 0;
    }
  }

  &__left {
    //& continua con la misma clase anterior es decir "top-bar";
    display: flex !important;
    align-items: center;
    img {
      display: block;
      margin: auto;
      height: 5vh;
      transition: all 0.5s;
      &:hover {
        transform: translateX(-15px);
      }
    }
  }
  &__right {
    display: flex !important;
    align-items: flex-start;
    justify-content: flex-end;
    .ui.icon.input > input {
      padding-right: 10px !important;
    }
    .ui.input {
      align-items: center;
      margin-right: 25px;
      input {
        background-color: transparent !important;
        border: 0;
        border-bottom: 5px solid $background-button-purple !important;
        border-radius: 5px;
        color: $primary !important;
        padding: 5px 0px !important;
        width: 20vw;
        font-size: 16px;
        transition: width 0.7s;
        &:focus {
          width: 30vw;
        }
      }
      i {
        color: $primary;
        opacity: 1 !important;
        font-size: 25px;
        right: -2.2vw !important;
        background-color: transparent !important;
      }
    }
  }
}
